.up {
	background: #304FFE !important;
	margin:0 auto;
}

.down {
	background: #FFD600 !important;
}

.left {
	background: #00C853 !important;
	float: left;
}

.right {
	background: #D50000 !important;
	float: right;
}

.clear {
	clear: both;
}

.centering {
	margin: 0 auto;
	width: 56px;
}