<div class="controller" layout-fill>
  <div class="header">
    <h2 class="">Room{{roomId}}</h2>
  </div>
  <div class="wrapper">
    <img ng-click="client.t(roomId)" src="images/teamButton_t.png" />
    <img ng-click="client.e(roomId)" src="images/teamButton_e.png" />
    <img ng-click="client.a(roomId)" src="images/teamButton_a.png" />
    <img ng-click="client.m(roomId)" src="images/teamButton_m.png" />
  </div>
  <div class="footer">
    <a
      ng-href="#/"
      class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      back
    </a>
  </div>
</div>
